[defaults]
inventory            = inventory
# Override deprecation warnings for `ansible_` var prefixes
# https://docs.ansible.com/projects/ansible/devel/porting_guides/porting_guide_13.html#inject-facts-as-vars
inject_facts_as_vars = true
# Quiet deprecation warnings some more
deprecation_warnings = false
